<div id="routes"></div>
<div class="routes-button control">
    <button color="primary" mat-flat-button (click)="toggle()">RECORRIDOS</button>
</div>
<div class="center-button control" *ngIf="user" (click)="center()">
    <button color="white" mat-mini-fab>
        <mat-icon color="primary">my_location</mat-icon>
    </button>
</div> 
<div class="routes control" *ngIf="popup">
    <div class="route" (click)="check(index)" *ngFor="let route of routes; index as index;">
        <mat-icon color="primary">{{checked(index) ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
        <div class="route-label">{{route.name}}</div>
    </div>
</div>